* { 
  outline: 1px solid #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

    body {
      background: #BEDAE5 !important;
      font-family: 'Dosis', sans-serif, !important;

    }

    p {
      font-size: 0.85em;
      text-align: center;
    }

    .nav {
      padding: 2%;
      background: #EECB27;
      color: white;
      width: 100%;
      margin-bottom: 2%;
    }

    .header {
      padding: 2%;
      background: #1F1762;
      color: white;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: 0
    }

    .heading {
      background: #1F1762;
      color: white;
      padding: 3%;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      margin-top: 4%
    }

    .small-heading {
      background: #1F1762;
      color: white;
      padding: 3%;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      margin-top: 4%
    }

    .button {
      margin: 2%
    }

    button {
      margin: 2%;
    }

    .form {
      background: #EECB27;
      text-align: left;
      color: white;
      padding-top: 3%
    }

    .bet-row {
      border: solid 0px white;
    }

    a {
      margin-left: 2%
    }

    .percent {
      width: 50%;
      margin-left: 25%
    }

    .p-form {
      width: 50%
    }

