* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

    body {
      background: #E1DCD9;
      font-family: 'Dosis', sans-serif, !important

    }

    p {
      font-size: 0.85em;
      text-align: center;
    }